---
import child_process from 'child_process'
import { GITHUB_REPO } from '../consts'

const filepath = Astro.props.filepath ?? ''

async function execShellCommand(cmd: string): Promise<string> {
    return new Promise((resolve, reject) => {
        child_process.exec(cmd, (error, stdout) => {
            if (error) {
                reject(error);
            } else {
                resolve(stdout.trim());
            }
        });
    });
}

async function getGitFooterData(filepath: string) {
    if (import.meta.env.MODE !== 'production') return null;

    const relativeFilePath = await execShellCommand(`git ls-files --full-name ${filepath}`);
    const [longHash, shortHash, lastModEpoch] = await Promise.all([
        execShellCommand(`git log -n 1 --pretty=format:%H  -- ${relativeFilePath}`),
        execShellCommand(`git log -n 1 --pretty=format:%h  -- ${relativeFilePath}`),
        execShellCommand(`git log -n 1 --pretty=format:%ct -- ${relativeFilePath}`)
    ]);
    const lastMod = new Date(parseInt(lastModEpoch) * 1000).toLocaleDateString('en-GB', {
        day: 'numeric',
        month: 'long',
        year: 'numeric',
        timeZone: 'America/New_York',
    });
    const gitCommand = `git log -n 1 --pretty=format:%ct -- ${relativeFilePath}`;
    const repoLink = `https://github.com/${GITHUB_REPO}/${relativeFilePath ? 'blob' : 'tree'}/${longHash}/${relativeFilePath}`;

    return { relativeFilePath, gitCommand, longHash, shortHash, lastMod, repoLink };
}

const footerData = await getGitFooterData(filepath).catch(() => null);

const deployDate = new Date().toLocaleDateString('en-GB', {
    day: 'numeric',
    month: 'long',
    year: 'numeric',
    timeZone: 'America/New_York',
    hour: 'numeric',
    minute: 'numeric',
    hour12: true,
});
---

<footer data-nosnippet>{footerData ?
    <div id="loading">
        {footerData.gitCommand}
    </div>
    <div id="loaded">
        last updated
        <a href={footerData.repoLink} target="_blank">@{footerData.shortHash}</a>
        on {footerData.lastMod} &#60;3
    </div>
    <div class="hover-reveal">deployed on {deployDate}</div>
    : <>&#60;3</>}
</footer>

<style>
    html a {
        color: rgba(0, 0, 0, 0.50);
    }
    html a:hover {
        color: rgba(0, 0, 0, 0.66);
    }
    html footer {
        margin-top: 2em;
        font-size: smaller;
        color: rgba(0, 0, 0, 0.33);
        position: relative;
    }

    #loading, #loaded {
        position: absolute;
        top: 0;
        height: 0;
        transition: opacity 0.2s ease-in-out;
    }
    #loading {
        animation: loading 0.5s 1.5s forwards;
    }
    #loaded {
        opacity: 0;
        transform: rotateX(-70deg) translateY(25px);
        animation: loaded 0.5s 1.5s forwards;
    }

    .hover-reveal {
        opacity: 0;
        height: 0;
        transition: all 0.2s 0.8s ease;
    }
    footer:hover .hover-reveal {
        opacity: 1; 
        height: 1em;
    }

    @keyframes loading {
        to { opacity: 0; transform: rotateX(-75deg) translateY(-50px); }
    }
    @keyframes loaded {
        to { opacity: 1; transform: rotateX(0) translateY(0px); }
    }
</style>
